  <div class="booking">
        <%= simple_form_for [@space, @booking] do |f| %>
          <%= f.input :arrival, input_html: { class: 'datepicker' } %>
          <%= f.input :departure, input_html: { class: 'datepicker' } %>
          <%= f.input :guest_number, collection: (0..10).to_a %>
          <%= f.submit%>
        <% end %>
  </div>
