<div class="booking">
  <%= form_for(@booking) do |f| %>
  <%= f.label :arrival %>
  <%= f.text_field :arrival %>

  <%= f.label :departure %>
  <%= f.text_field :departure %>

  <%= f.submit %>
<% end %>





</div>
