  <div class="image-show col-sm-12" style="background-image: url('<%= @space.image_url %>')">
  </div>



<div class="container">
  <div class="main-container">
        <div class="info_space">
          <h1><%= @space.name %></h1>
          <h3><%= @space.address %></h3>
          <p class ='price'><%= @space.price %> €/mois</p>
          <p><%= @space.description %></p>
          <br>
          <br>
          <%= link_to space_path do %>
          <%= link_to "see all spaces", spaces_path %>
          <% end %>
        </div>
        <div class="form">
        <%= render 'formbooking' %>
        </div>
      </div>
      <div id="map"
      data-markers="<%= @markers.to_json %>"
      ></div>
</div>





  <div class="reviews">
    <% @space.reviews.each do |review| %>
      <div><p><%= review.content %>     <%= review.rating %></p></div>

    <% end %>
  </div>

</div>

