<div class="space" style="align-content: center, width: 50%; margin: 0 auto; text-align: left">
  <div class="image" style="align-content: center">
    <div style="width: 50%; margin: 0 auto; text-align: left"><img src=<%= @space.image_url %> alt="">
    </div>
  </div>


  <div class="info_space" style="width: 50%; margin: 0 auto; text-align: left">
    <h1><%= @space.name %></h1>
    <h3><%= @space.address %></h3>
    <p><%= @space.price %> €/mois</p>
    <p><%= @space.description %></p>

    <br>
    <br>
    <%= link_to space_path do %>
    <%= link_to "see all spaces", spaces_path %>
    <% end %>



  </div>


  <%= render 'formbooking' %>



  <div class="reviews">

  </div>

</div>

