<img src="http://bureauflexible.fr#{image_url}" alt="">
<p><%= @space.name %></p>
<p><%= @space.address %></p>
<p><%= @space.price %></p>

<%= link_to "edit", edit_space_path %>
<%= link_to "delete", space_path, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to space_path do %>
<%= link_to "see all spaces", spaces_path %>
<% end %>




