<h1 id="profile">My profil</h1>
<div class="container">
<div class="container1">
  <ul class="inline">
    <li> FIRST NAME: <%= @user.first_name %></li>
    <li> LAST NAME:  <%= @user.last_name %></li>
    <li> EMAIL:  <%= @user.email %></li>
  </ul>
  <h2> My reservations </h2>
  <div class="resa_description">
    <table style="width:100%">
      <tr id="background">
          <th>Arrival</th>
          <th>Departure</th>
          <th>Picture</th>
          <th>Description</th>
          <th>Status Of the Request</th>
      </tr>
      <% @bookings_visitor.each do |booking| %>
        <tr>
          <td><%= booking.arrival%></td>
          <td><%= booking.departure%></td>
          <td><img class="avatar-large" src=<%= booking.space.image_url %>></td>
          <td><%= booking.space.description%></td>
          <td class="btn btn-primary"><%= booking.accepted %></td>
        </tr>
      <% end %>

    </table>
  </div>

  <h2>My Bookings</h2>
  <%= link_to "Ajouter un bureau", new_space_path%>
  <div class="resa_description">
    <table style="width:100%">
      <tr>
          <th>Arrival</th>
          <th>Departure</th>
          <th>User</th>
          <th>Status Of the Request</th>
      </tr>
      <% @bookings_owner.each do |booking| %>
        <tr>
          <td><%= booking.arrival%></td>
          <td><%= booking.departure%></td>
          <td><%= booking.user.last_name %></td>
          <td><button type="button" class="btn btn-success">Accept</button>
              <button type="button" class="btn btn-danger">Refuse</button></td>
        </tr>
      <% end %>

    </table>
  </div>

</div>
</div>
