<h1 id="profile">My profil</h1>

<div class="container1">
  <h2>My profil</h2>
  <ul>
    <li> - First name: <%= @user.first_name %></li>
    <li> - Last name:  <%= @user.last_name %></li>
    <li> - Email:  <%= @user.email %></li>
  </ul>
  <h2> My reservations </h2>
  <div class="resa_description">
    <% @bookings_visitor.each do |booking| %>
    <img class = "img-small" src=<%= booking.space.image_url %>>
    <div class="message-body">
      <p><%= booking.space.description%></p>
    <% end %>
    </div>
  </div>

  <h2>My Bookings</h2>
  <%= @bookings_owner.each do |booking| %>
  <p><%= booking.arrival %></p>
  <p><%= booking.departure %></p>
  <p> Accepted ?</p>
  <% end %>
  <%= link_to "Ajouter un bureau", new_space_path%>
</div>
